**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/*.neon
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.claude/
.github/
.idea/
.vscode/
docs/
features/
public/bundles/
reports/
tests/
var/
vendor/
.editorconfig
.env.*.local
.env.dev
.env.local
.env.local.php
.env.test
config/jwt/*.pem
core
grumphp.yml
.trivyignore
Makefile
rector.php
AGENTS.md
CLAUDE.md
LICENSE
README.md
