includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - config/reference.php
    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
